input{
    padding: 0;
}
h1{
    text-align: center;
    color: white;
}
body{
    background-color: #ECF0F1;
}
.container{
    background-color: white; 
    border-radius: 15px;
    width: 900px;
}
th,td{
    text-align: center;
}
